<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/images/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../assets/images/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="apple-mobile-web-app-title" content="Navigatorbd" />
    <meta name="application-name" content="Navigatorbd" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-TileImage"
      content="../assets/images/favicon/mstile-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Required Social Preview MetaTags -->

    <!-- Primary Meta Tags -->
    <meta
      name="title"
      content="Navigatorbd - Portfolio Website | #1 PSD To HTML of alnahian2003"
    />
    <meta
      name="description"
      content="Navigatorbd is a free single page portfolio PSD To HTML template. This is my very first 100% completed PSD To HTML Conversion. Best of Luck to me ☻"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alnahian2003.github.io/navigatorbd" />
    <meta
      property="og:title"
      content="Navigatorbd - Portfolio Website"
    />
    <meta
      property="og:description"
      content="Navigatorbd is a company there are provide it related all service and application"
    />
    <meta property="og:image" content="images/preview.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://alnahian2003.github.io/Navigatorbd"
    />
    <meta
      property="twitter:title"
      content="Navigatorbd - Portfolio Website"
    />
   <meta
      property="og:description"
      content="Navigatorbd is a company there are provide it related all service and application"
    />
    <meta property="twitter:image" content="images/preview.jpg" />

    <!-- End of Required Social Preview MetaTags -->

    <!-- 'Titillium Web' Font -->
     <!-- <link rel="stylesheet" href="../admins/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../admins/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../admins/vendors/nprogress/nprogress.css">
    <link rel="stylesheet" href="../admins/vendors/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../admins/build/css/custom.min.css">

    <script src="../admins/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../admins/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="../admins/vendors/fastclick/lib/fastclick.js" defer></script>
    <script src="../admins/vendors/nprogress/nprogress.js" defer></script>
    <script src="../admins/vendors/Chart.js/dist/Chart.min.js" defer></script>
    <script src="../admins/vendors/jquery-sparkline/dist/jquery.sparkline.min.js" defer></script>
    <script src="../admins/vendors/Flot/jquery.flot.js" defer></script>
    <script src="../admins/vendors/Flot/jquery.flot.pie.js" defer></script>
    <script src="../admins/vendors/Flot/jquery.flot.time.js" defer></script>
    <script src="../admins/vendors/Flot/jquery.flot.stack.js" defer></script>
    <script src="../admins/vendors/Flot/jquery.flot.resize.js" defer></script>
    <script src="../admins/vendors/flot.orderbars/js/jquery.flot.orderBars.js" defer></script>
    <script src="../admins/vendors/flot-spline/js/jquery.flot.spline.min.js" defer></script>
    <script src="../admins/vendors/flot.curvedlines/curvedLines.js" defer></script>
    <script src="../admins/vendors/DateJS/build/date.js" defer></script>
    <script src="../admins/vendors/moment/min/moment.min.js" defer></script>
    <script src="../admins/vendors/bootstrap-daterangepicker/daterangepicker.js" defer></script>
    <script src="../admins/build/js/custom.min.js" defer></script> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../assets/css//style.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="../assets/js/html5shiv.min.js" defer></script>
    <script src="../assets/js/mixitup.min.js" defer></script>
    <script src="../assets/js/respond.min.js" defer></script>
    <script src="../assets/js/selectivizr.min.js" defer></script>
    <script src="../assets/js/html5shiv.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="assets/js/main.js" defer></script>
  </body>
</html>
